<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
  </head>
  <body>
    <div class="ui container projects">
    <h4 class="ui horizontal divider header">
      <i class="diamond icon"></i>
        Ruby
    </h4>
  <div class="center projects">
    <div class="ui cards">
      <% @projects.each do |project| %>
        <% if project.language == 'ruby' %>
          <div class="card">
            <div class="image">
              <img src="<%= project.img %>">
            </div>
            <div class="content">
              <div class="header">
                <%= project.title %>
              </div>
              <div class="meta">
                <%= project.meta %>
              </div>
              <div class="description">
                <%= project.description %>
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                  <% if project.url? %>
                <a class="ui basic green button" href='<%= project.url %>' target='_blank'>View live demo</a>
                  <% end %>
                <a class="ui basic blue button" href='<%= project.github_url %>' target='_blank'>View it on Github</a>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
      <h4 class="ui horizontal divider header">
        <i class="file code outline icon"></i>
          Javascript/jQuery
      </h4>
  <div class="center projects">
    <div class='ui cards'>
      <% @projects.each do |project| %>
        <% if project.language == 'javascript' %>
          <div class="card">
            <div class="image">
              <img src="<%= project.img %>">
            </div>
            <div class="content">
              <div class="header">
                <%= project.title %>
              </div>
              <div class="meta">
                <%= project.meta %>
              </div>
              <div class="description">
                <%= project.description %>
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <a class="ui basic blue button" href='<%= project.github_url %>' target='_blank'>View it on Github</a>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
  </body>
</html>
